@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #000000;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background-color: #fff7ed;
  padding-top: 6rem;
}

.heading {
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
}

.inputStyle {

  >label {
    font-weight: 500;
  }

  >div {
    width: 100%;
    background-color: #fff7ed;
    padding: 0.3rem 10px;
    border: 1px solid rgba(154, 154, 154, 0.38);
    border-radius: 10px;
    margin-top: 0.5rem;
    
    >input,
    >select {
      width: 100%;
      margin: 0.3rem;
      background-color: #fff7ed;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: small;
      outline: none;
      /* padding: 0 10px; */
    }
  }

  >input,
  >select {
    width: 100%;
    padding: 0.3rem 10px;
    margin-top: 0.3rem;
    background-color: #fff7ed;
    border: 1px solid rgba(154, 154, 154, 0.38);
    border-radius: 10px;
    /* margin: 0.3rem; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    outline: none;
    padding: 10px;
  }

  small {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
    background: rgba(255, 0, 0, 0.1);
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
  }
}

.admin-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  height: calc(100vh - 3rem);


  .dashboard-app-container {
    background-color: white;
    padding: 4rem;

    >section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 100%;
    }
  }
}

.btn {
  background-color: rgb(56, 56, 56);
  color: white;
  font-size: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  position: absolute;
}



/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */